{% extends "Blog/layout.html.twig" %}

{% block head %}
<h1>Articles: </h1>
<a href="formA" style="border: none"><p>Add new Article</p></a>

{% endblock %}

{% block body %}
<table style="border-collapse: collapse">

    {% for article in articles %}
        <tr style="text-align: left">
            <th style="border: 2px solid ">Title</th>
            <th style="border: 2px solid ">Description</th>
            <th style="border: 2px solid ">Article</th>
            <th style="border: 2px solid ">Created_AT</th>
            <th style="border: 2px solid ">Created_By</th>
            <th style="border: 2px solid ">Category</th>
        </tr>
        <tr style="text-align: center">

            <td style="border: 2px solid ">{{ article.title}}</td>
            <td style="border: 2px solid ">{{ article.descritpion}}</td>
            <td style="border: 2px solid ">{{ article.article}}</td>
            <td style="border: 2px solid ">{{ article.CreatedAt | date('d/m/Y H:i' )}}</td>
            <td style="border: 2px solid ">{{ article.CreatedBy}}</td>
            <td style="border: 2px solid ">{{ article.category.name}}</td>

        </tr>

    {% endfor%}
</table>
{% endblock %}
