{% extends "Blog/layout.html.twig" %}

{% block head %}
<h1>Add new Article!</h1>
{% endblock %}

{% block body %}

{{ form_start(artForm) }}
{{ form_row(artForm.title,{'label':' Title: '}) }}
<br>
{{ form_row(artForm.descritpion,{'label':' Description: '}) }}
<br>
{{ form_row(artForm.article,{'label':' Article: '}) }}
<br>
{{ form_row(artForm.created_at,{'label':' Created_at: '}) }}
<br>
{{ form_row(artForm.created_by,{'label':' Created_by: '}) }}
<br>
{{ form_row(artForm.category,{'label':' Category: '}) }}
<br>
{{ form_row(artForm.save) }}
{{ form_end(artForm) }}
{% endblock %}